.heroicon-outline {fill:#303034;}
.heroicon-home-roof {fill:#7ACFC0;}
.heroicon-home-wall {fill:#F2F3D8;}
.heroicon-home-frames {fill:#A6BEBA;}
.heroicon-home-windows {fill:#DFF6F9;}
.heroicon-home-door {fill:#DF7171;}
.heroicon-home-parging {fill:#F1F4F4;}
